<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJwPslt8zsvYJiMHLMI6iuJviUS-3ht30</string>
	<key>GCM_SENDER_ID</key>
	<string>625375653134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weather.rahul</string>
	<key>PROJECT_ID</key>
	<string>weather-e8afd</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-e8afd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625375653134:ios:18e01c71ff183e9efd3b5f</string>
</dict>
</plist>